.container-fixed(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
}

.generate-columns(@n; @width; @i: 1) when (@i =< @n) {
  @single-width: @width / @n;
  .col-@{i} {
    width: @i * @single-width;
  }
  .generate-columns(@n; @width; (@i + 1));
}

.make-grid(@container) {
  @media (min-width: @container) {
    width: @container;
    .generate-columns(12, @container);
  }
}
